<div class="mainBody">
  <br>
  <h1>Enter the Login</h1>
  <div class="loginCard">
    <h6 id="notification" *ngIf="errorMsg != ''" >Username and password do not match ot do not exist</h6>
      <form [formGroup]="loginFormGroup" (ngSubmit)="onLogin(loginFormGroup.value)">
        <table>
          <tr><td><label for="username">Enter the Username</label></td></tr>
          <tr>
            <td><input type="text" name="username" placeholder="username" id="username" formControlName = "username" required="true"></td>
          </tr>
          <tr><td><label for="password">Enter the Password</label></td></tr>
          <tr>
            <td><input type="password" name="password" placeholder="password" id="password" formControlName = "password" required="true"></td>
          </tr>
          <tr><td><input type="submit" value="Login" [disabled]="(!loginFormGroup.valid)"></td></tr>
        </table>
    </form>
  </div>
</div>
