<html>
  <head>{{title}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <h1>Welcome to {{title}}</h1>
      <h4>Based on {{bookTitle}}</h4>
      <div *ngIf="!loginPageOpenBool">
        <a id="loginLink" routerLink="/login" (click)="loginAccess()">Admin Access</a>
      </div>
      <div *ngIf="loginPageOpenBool">
        <a id="loginLink" routerLink="/" (click)="loginAccess()">Home Page</a>
      </div>
    </header>
    <router-outlet></router-outlet>
    <div class="mainBody" *ngIf="!loginPageOpenBool">
      <div class="row">
        <div class="col">
          <div class="categoryListDisplay">
            <br/>
            <h3>The following are the current Categories, Please select one to view the files </h3>
            <br/>
             <input type="text" [formControl]="searchControl" placeholder="Type here to search" name="searchQueryInput">
            <br>
            <br>
            <ul>
              <div *ngFor="let category of filteredCategoryList">
                <button type="button" class="categoryButtons" (click)="loadCatalogForCategory(category['id'], category['name'])"><li>{{category["name"]}}</li></button>
                <br>
              </div>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="catalogListDisplay">
            <br/>
            <h3>The following are the references for {{selectedCategoryName}} </h3>
            <br/>
            <button (click)="showFilter=!showFilter">Filter by Classification</button>
            <br/>
            <br/>
            <div *ngIf="showFilter">
              <div *ngFor="let classification of classificationList">
                <input class="form-check-input" type="checkbox" value="classification" id="{{classification['name']}}"
                (click)="filterClassification(classification)">
                <label class="form-check-label" for="{{classification['name']}}">{{classification['name']}}</label>
              </div>
              <br>
              <br>
            </div>
            <button (click)="showAdditionalFilter=!showAdditionalFilter">Filter by Additional Categories</button>
            <br/>
            <br/>
             <div *ngIf="showAdditionalFilter">
              <!-- <button (click)="AdditionalFilter()">Clear Alternate Categories Filter</button>
              <br><br> -->
              <input type="text" [formControl]="searchAdditionalControl" placeholder="Type here to search" name="searchAdditionalQueryInput">
              <div *ngFor="let category of filteredAdditionalCategoriesList">
                <input class="form-check-input" type="checkbox" value="classification" id="{{category['name']}}"
                (click)="filterAdditionalCategory(category['name'])">
                <label class="form-check-label" for="{{category['name']}}">{{category['name']}}</label>
              </div>
            </div>
            <br/>
            <br/>
            <div *ngIf="selectedCategory != -1 && filteredCatalogList.length != 0">
              <table mat-table [dataSource]="filteredCatalogList" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Name</th>
                  <td mat-cell *matCellDef="let element" class="text-center">{{element["name"]}}</td>
                </ng-container>

                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Type</th>
                  <td mat-cell *matCellDef="let element" class="text-center">{{element["documentType"]}}</td>
                </ng-container>

                <ng-container matColumnDef="link">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Link</th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <a *ngIf="element['documentType'] != 'Hyperlink'" (click)="downloadFile(element)" href="#" (download)="element['documentName']">Click Here</a>
                    <a *ngIf="element['documentType'] == 'Hyperlink'" href="{{element['documentName']}}" target="new">Click Here</a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="author">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Author</th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <div *ngIf="element['author']!=null; else elseBlock">{{element["author"]}}</div>
                    <ng-template #elseBlock>Not Available</ng-template>
                  </td>
                </ng-container>

                <ng-container matColumnDef="citation">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Citation</th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <div *ngIf="element['citation']!=null; else elseBlock">{{element["citation"]}}</div>
                      <ng-template #elseBlock>Not Available</ng-template>
                  </td>
                </ng-container>

                <ng-container matColumnDef="classification">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Classification</th>
                  <td mat-cell *matCellDef="let element" class="text-center">{{element["classification"]}}</td>
                </ng-container>

                <ng-container matColumnDef="AdditionalCategories">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Additional Categories</th>
                  <td mat-cell *matCellDef="let element" class="text-center">{{element["alternateCategory"]}}</td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
              </table>
            </div>
            <div *ngIf="selectedCategory != -1 && filteredCatalogList.length == 0">
              <h4>The category selected has no files/data available</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <h6>&copy; 1993-2022 Lance S. Davidson - All rights reserved. Created by <a target="new" href={{myLinkedIn}}>Vijayadithya Doddi</a></h6>
    </footer>
  </body>
</html>
