<div class="mainBody">
  <h1>Select among the following options</h1>
  <table>
    <tr><td><input type="button" value="Upload Reference" (click)="buttonClicked('upload')"></td></tr>
    <tr><td><input type="button" value="Create Category" (click)="buttonClicked('category')"></td></tr>
    <tr><td><input type="button" value="Create File Type Extension" (click)="buttonClicked('document')"></td></tr>
    <tr><td><input type="button" value="Create Media Type" (click)="buttonClicked('classification')"></td></tr>
    <tr><td><input type="button" value="Create Login Credentials" (click)="buttonClicked('credentials')"></td></tr>
  </table>
</div>
