<div class="mainBody">
  <br>
  <h1>Enter the new Credential</h1>
  <form [formGroup]="credentialFormGroup" (ngSubmit)="onSubmit(credentialFormGroup.value)">
    <h6 id="notification" *ngIf="notification == 'New Credential has been created'" >New Credential has been created</h6>
    <h6 id="error" *ngIf="notification == 'Username already exists'" >Username already exists</h6>
    <table>
      <tr><td><label for="credentialName">Enter the Credentials Username</label></td></tr>
      <tr>
        <td><input type="text" name="credentialName" placeholder="Credential Name" id="credentialName" formControlName = "credentialName" required="true"></td>
      </tr>
      <tr><td><label for="credentialPassword">Enter the Credentials Password</label></td></tr>
      <tr>
        <td><input type="password" name="credentialPassword" id="credentialPassword" formControlName = "credentialPassword" required="true"></td>
      </tr>
      <tr><td><input type="submit" value="Create" [disabled]="(!credentialFormGroup.valid)"></td></tr>
    </table>
</form>
<br>
<input type="button" value="Back to Admin Page" (click)="returnToAdminPage()">
</div>
